@import '@fontsource/fira-mono';

:root {
    --bulma-family-primary: 'Quicksand', Arial, sans-serif;
    --bulma-family-secondary: 'Quicksand', Arial, sans-serif;
    --bulma-family-code: 'Fira Mono', monospace;

    --bulma-navbar-height: 5rem;

    --color-white: #ffffff;
    --primary-color: #b9c6d2;
    --secondary-color: #d0dde9;
    --tertiary-color: #edf0f8;
    --accent-color: #ff3e00;
    --heading-color: rgba(0, 0, 0, 0.7);
    --text-color: #444444;
    --background-without-opacity: rgba(255, 255, 255, 0.7);
    --column-width: 42rem;
    --column-margin-top: 4rem;

    --base-margin: 20px;
}

html {
    background: var(--color-white);
}

body.page-wrapper {
    min-height: 100vh;
    background: var(--color-white);
}

.page {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

.page-header {
    border-bottom: 1px solid var(--bulma-hr-background-color);
}

.page-header>.navbar {
    --bulma-navbar-item-img-max-height: 4rem;
}

.page-header>.navbar>.navbar-brand>.navbar-item {
    --bulma-navbar-item-background-a: 0;
}

.page-main {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
}
