@import '@fontsource/fira-mono';
@import 'tailwindcss';

@plugin 'tailwind-scrollbar';

@custom-variant dark (&:where(:global(.dark), :global(.dark) *));

@theme {
  --font-sans: 'Quicksand', Arial, sans-serif;
  --font-mono: 'Fira Mono', monospace;
}

html {
  @apply min-w-[20rem];
  @apply bg-gray-100 text-gray-900;
  @apply dark:bg-gray-900 dark:text-gray-100;
}

body.page-wrapper {
  @apply min-w-[20rem];
  @apply bg-gray-100 text-gray-900;
  @apply dark:bg-gray-900 dark:text-gray-100;
}

.page {
  @apply flex h-screen w-screen min-w-[20rem] flex-col overflow-hidden;
  @apply bg-gray-100 text-gray-900;
  @apply dark:bg-gray-900 dark:text-gray-100;
}

.lark-legacy-ide {
  display: grid;
  grid-template:
    'options options' min-content
    'grammar text' min-content
    'grammar output' 1fr / min-content 1fr;

  flex: 1 1 auto;
}

.lark-legacy-ide-options {
  grid-area: options;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.lark-legacy-ide-editor {
  grid-area: grammar;

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  overflow: auto;
  width: 50vw;
  border-right: 1px solid black;
}

.lark-legacy-ide-tests-input {
  grid-area: text;
  height: 100px;
  width: 50vw;
  display: flex;
  border-bottom: 1px solid black;
}

.lark-legacy-ide-tests-output {
  padding: 1rem;
  width: 50vw;
  grid-area: output;
  overflow-x: scroll;
}

.lark-editor-wrapper {
  flex-grow: 1;
  overflow: hidden;
}
